body {
    font-family: 'Verdana', sans-serif;
    background-color: #faf3e0;
    text-align: center;
}

h1 {
    color: #ff6347;
}

button {
    padding: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #e53d22;
}

ul {
    list-style-type: none;
    font-size: 1.2em;
    margin-top: 20px;
    padding: 0;
}
