.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    transform: scale(1.4);
    transform-origin: top;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  h1 {
    font-size: 5em;
    margin: 10px 0;
  }
  
  p {
    font-size: 3em;
    margin: 20px 0;
  }
